<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Mustache Web Template</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <link rel="stylesheet" href="css/normalize.min.css"/>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body>

		<h1>Todo List</h1>
		
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>priority</th>
					<th>creation date</th>
					<th>finish date</th>
				</tr>
			</thead>
			<tbody>
				{{#taskList}}
				<tr>
					<td>{{id}}</td>
					<td>{{name}}</td>
					<td>{{priority}}</td>
					<td>{{creationDate}}</td>
					<td>{{finishDate}}</td>
				</tr>
				{{/taskList}}
			</tbody>
		</table>

    </body>
</html>
